/* =====Common css===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-margin-top: -80px;

}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    line-height: 0.8;
}
i{
    cursor: pointer;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* =====Common css===== */
/* ===Nav section start here=== */
nav{
    width: 100%;
    padding: 29px 0;
    position: absolute;
    left: 0;
    top: 0;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_wrapper>ul{
    display: flex;
    align-items: center;
    column-gap: 55px;
}
.nav_wrapper>ul>li>a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s linear;
}
.nav_wrapper>ul>li>a:hover{
    color: #fce38a;
}
.nav_wrapper>ul>li>a::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    transition: all 0.3s linear;
    transform: scale(0);
}
.nav_wrapper>ul>li>a:hover::before{
    transform: scale(1);
}
/* ===Nav section end here=== */
/* ===Banner section start here=== */
#banner{
    width: 100%;
    padding: 230px 0;
    background: linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)),url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_wrapper{
    text-align: center;
    color: #fff;
}
.banner_wrapper>h3{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    padding-bottom: 44px;
}
.banner_wrapper>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 150px;
    text-transform: uppercase;
    margin-bottom: 125px;
    position: relative;
}
.banner_wrapper>h2>span{
    display: block;
    padding-bottom: 34px;
}
.banner_wrapper>h2::before{
    position: absolute;
    content: "";
    left: 50%;
    bottom: -72px;
    width: 60px;
    height: 3px;
    background-color: #fff;
    transform: translate(-50%);
}
.banner_wrapper>a{
    margin-top: 124px;
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
}
/* ===Banner section end here=== */
/* common heading */
.common_heading{
    text-align: center;
}
.common_heading>h3{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    padding-top: 90px;
}
.common_heading>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 24px;
    margin-bottom: 90px;
    position: relative;
}
.common_heading>h2::before{
    position: absolute;
    content: "";
    left: 50%;
    bottom: -40px;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    transform: translate(-50%);
}
.common_heading>p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999;
    padding: 0 123px;
}
/* common heading */
/* ===About section start here=== */
.about_wrapper,.team_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about_item{
    width: 380px;
    height: 250px;
    margin: 104px 0;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.5s linear;
    transform: scale(0);
}
.about_icon>a{
    color: #fff;
}
.overlay>h3{
    padding-top: 12px;
}
.about_item:hover  .overlay,.team_item_box:hover .overlay,.gal_inner:hover .overlay,.big_inner:hover .overlay{
    transform: scale(1);
}
.counter{
    width: 100%;
    background-color: #95e1d3;
}
.counter_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counter_item{
    text-align: center;
    padding: 90px 0;
}
.counter_item>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    color: #fff;

}
.counter_item>h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 30px;
}
/* ===About section end here=== */
/* ===Service section end here=== */
.service_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.service_item{
    display: flex;
    justify-content: space-around;
    width: 360px;
    padding-bottom:100px;
}
.service_icon>span>i{
    font-size: 30px;
    color: #95e1d3;
    padding:20px;
}
.service_details>h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    padding: 20px 0;

}
.service_details>p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999;
    line-height: 25px;
}
.service_slider{
    width: 100%;
    background-color: #f8f8f8;
    padding: 70px 25px;
}
.slider_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider_icon>i{
    color: #cccccc;
    font-size: 24px;
    padding: 0 75px;
}
.slider_icon_big>i{
    color: #95e1d3;
    font-size: 60px;
    padding: 40px;
    border: 3px solid #95e1d3;
}
.slider_message{
    padding-left: 60px;
}
.slider_message>p{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #999;
    line-height: 1.5;
    padding-bottom: 28px;
}
.slider_message>h3{
    margin-left: 70px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    position: relative;
}
.slider_message>h3::before{
    position: absolute;
    content: "";
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
/* ===Service section end here=== */
/* ===Team section start here=== */
.team_item_wrapper{
    margin-top: 90px;
    text-align: center;
}
.team_item_box{
    width: 380px;
    height: 470px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    position: relative;
}
.team_icon_group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_social_icon{
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    transition: all 0.3s linear;
}
.team_social_icon>a{
    color: #f38181;
    font-size: 24px;
    transition: all 0.3s linear;
}
.team_social_icon:hover a{
    color: #fff;
}
.team_social_icon:hover{
    background-color: #f38181;
}
.team_item_wrapper>h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    padding-top: 38px;

}
.team_item_wrapper>p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    padding-top: 16px;
}
/* ===Team section end here=== */
/* ===Work section end here=== */
.gal_wrapper{
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.gal_item_big,.gal_inner{
    width: 25%;
    height: 780px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    position: relative;
}
.big_inner{
    height: 100%;
    width: 100%;
}
.gal_inner{
    width: 100%;
    height: 50%;
}
#work .overlay>h3{
    font-weight: 400;
    font-size: 14px;
    padding: 20px 0;
}
#work .overlay>p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
}
/* ===Work section end here=== */
/* ===Footer section end here=== */
#footer{
    width: 100%;
    background-color: #f8f8f8;
}
.footer_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 70px;
}
.contact_wrapper{
    width: 480px;
    height: 100%;
}
.contact_wrapper>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #cccccc;
    padding-bottom: 42px;
}
.contact_wrapper>p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 50px;
    color: #999;
    line-height: 1.5; 
}
.contact_wrapper>h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #333;
}
.contact_wrapper span{
    font-weight: 400;
    font-weight: 14px;
}
.contact_wrapper>hr{
    margin: 18px 0;
}
.following_link{
    display: flex;
    align-items: center;
}
.following_link>h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    padding-right: 22px;
}
.following_social_icon>a>i{
    font-size: 16px;
    color: #95e1d3;
    padding-right: 16px;
}
.social_icon_group{
    display: flex;
    align-items: center;
}
form{
    padding-top: 36px;
}
form>input{
    width: 228px;
    border: 1px solid #e7e7e7;
    border-right: none;
    padding: 12px;
    outline: none;
}
form>input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #ccc;
    font-style: italic;
    padding-left: 14px;
    padding: 1px 0;
}
form>input:focus{
    border: 1px solid #e7e7e7;
    outline: none;
}
form>button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 34px;
    background-color: #95e1d3;
    border: none;
    outline: none;
    cursor: pointer;
}
.blogs_wrapper{
    width: 336px;
    height: 100%;
}
.blogs_wrapper>h3,.insta_wrapper>h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 42px;
}
.blog_item_group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 30px;

}
.blog_item{
    display: flex;
    align-items: center;
}
.blog_item_img{
    min-width: 120px;
    min-height: 80px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.blog_item_details{
    padding-left: 20px;
}
.blog_item_details>h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    line-height: 1.5;
}
.blog_item_details>p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #999;
    font-style: italic;
    padding-top: 12px;
}
.insta_wrapper{
    width: 268px;
    height: 100%;
}
.insta_item_group{
    max-width: 268px;
    max-height: 268px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2px;
    margin-bottom: 20px;
}
.insta_item{
    max-width: 88px;
    max-height: 88px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.insta_wrapper>a{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    font-style: italic;
}
hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #e5e5e5;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
.copyright a{
    color: #f38181;
}
/* ===Footer section end here=== */